import pytest
from assertpy import assert_that

import year{{year}}.day{{day}}.reader as reader
import year{{year}}.day{{day}}.solver as solver


@pytest.mark.parametrize('puzzle, expected',
                         [])
def test_examples_a(puzzle, expected):
    result = solver.solve_a(puzzle)
    assert_that(result).is_equal_to(expected)


@pytest.mark.solution
def test_solution_a():
    result = solver.solve_a(reader.read())
    assert_that(result).is_equal_to(0)


@pytest.mark.parametrize('puzzle, expected',
                         [])
def test_examples_b(puzzle, expected):
    result = solver.solve_b(puzzle)
    assert_that(result).is_equal_to(expected)


@pytest.mark.solution
def test_solution_b():
    result = solver.solve_b(reader.read())
    assert_that(result).is_equal_to(0)
